  <div id="head">
    <div id="addtree" class="head_button">ADD A TREE</div>
    <div id="about" class="head_button">ABOUT ORSHARD</div>
  </div>
  
  
  <div id="aboutpanel"><h2>About Orshard</h2></div>
  <div id="addpanel">
  
    <h2>Add a Tree</h2>
    <div class="a">
     Fruit <select id="fruit">
        <option>Apple</option>
        <option>Cherry</option>
        <option>Grape</option>
        <option>Lemon</option>
        <option>Lime</option>
        <option>Orange</option>
        <option>Peach</option>
        <option>Plum</option>
        <option>Other</option>
      </select>
    
    </div>
    <div class="b">
      Description
      <textarea id="desc"></textarea>
    </div>
    <div class="a">
      <div class="head_button" id="submit">SUBMIT</div>
      <div class="head_button" id="cancel">CANCEL</div>
      <div class="clear"></div>
    </div>
    
  </div>
  
  <div id="map_canvas"></div> 