<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>Orshard - Beta Preview</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<link href="css/style.css" rel="stylesheet" type="text/css"> 
<link rel="stylesheet" href="css/uniform.agent.css" type="text/css" media="screen"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script> 
<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script> 
<script src="js/jquery.uniform.min.js" type="text/javascript" charset="utf-8"></script> 
<script src="js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script> 
<script type="text/javascript" charset="utf-8"> 
  $(function(){
    $("input, textarea, select, button").uniform();
  });
</script> 
<script type="text/javascript" src="js/index.js"></script>  

</head> 
<body> 
<%-body%>
</body> 
</html> 
